.section6-container
{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.section6-magic
{
    width: 50%;
}
.section6-title
{
    text-align: center;
    margin-bottom: 20px;
}
.section6-title span 
{
    color: #254887;
}
.section6-title h1
{
    font-size: 2.5rem;
    color: #0F2137;
}
.section6-question
{
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 20px;
}
.section6-question-top
{
    display: flex;
    align-items: center;
}
.section6-question-top img 
{
    margin-right: 20px;
    transition: all 0.3s ease;
    rotate: 0deg;
    height: 30px;
    object-fit: contain;
}
.section6-question-top img:hover 
{
    transform: scale(1.2);
    cursor: pointer;
}
.magic-class
{
    transform: rotate(90deg);   
}
.section6-question-top span 
{
    font-size: 1.3rem;
    color: #0F2137;
}
.section6-question-bottom
{
    color: #343D48;
    overflow: hidden;
    height: 70px;
    transition: all 0.3s ease;
    margin-top: 20px;
}
.section6-question-bottom-closed 
{
    height: 0px;
}

/* Mobile */
@media only screen and (max-width: 1200px)
{
.section6-magic
{
    width: 80%;
}
}
@media only screen and (max-width: 800px)
{
.section6-magic
{
    width: 100%;
    padding: 20px 10px;
}  
}
@media only screen and (max-width: 450px)
{
.section6-question
{
    padding: 10px;
}
.section6-question-top span 
{
    font-size: 1rem;
}
}